= render "shared/home_nav"
#authentication.container

  %div.panel.m_rounded_corners.box_shadow
    %div.m_top_rounded_corners.m_header
      %h1 Sign up

    = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html =>  {:class => "content m_bottom_rounded_corners"}) do |f|
      = devise_error_messages!
      %p
        = f.label :email
        %br/
        = f.text_field :email
      %p
        = f.label :password
        %br/
        = f.password_field :password
      %p
        = f.label :password_confirmation
        %br/
        = f.password_field :password_confirmation
      %p= f.submit "Sign up"
      %p
        = render :partial => "devise/shared/links"
