= render "shared/home_nav"
#container.search.index
  %div
    %h1#logo
      = link_to(root_url) do
        = image_tag("logo-homepage.png", :alt => "Robodisco.fm")
    = form_tag(search_results_path(), :method => :post, :id => "search_form") do
      = text_field_tag("query", "Enter an artist or album")
      = submit_tag("")
