//= javascript_include_tag "live_search_form.js"
%div#nav.search
  %div#container.fixed_width
    %div#logo.left
      %h1
        = link_to "Robodisco", root_path
    = form_tag({:path => ()}, :method => :get, :id => "search_form", :class =>"right") do
      = text_field_tag("query", "Enter artist or album")
      = submit_tag("")
    %div.clear
%div#container.fixed_width
  %div#live_search_results
    - unless @albums.empty?
      - @albums.each_pair do |artist_name, albums|
        %div.result_box
          %h2
            = artist_name
          - albums.each do |album|
            %div.name
              = link_to album.title, play_album_path(:mb_id => album.mb_id)



http://stackoverflow.com/questions/928849/setting-table-column-width