%div{:id => small_version ? "home_nav" : "site_nav" }
  %div#container.fixed_width
    %div#logo
      %h1
        = link_to "Robodisco.fm", root_path
    %div#user_nav
      %div#auth_and_reg
        - if user_signed_in?
          = link_to "Sign out", destroy_user_session_path
          %span
            |
          = link_to "Profile", edit_user_registration_path
          %span
            |
          = link_to "Albums", user_albums_path(current_user)
          %span
            |
          = link_to "Invite", new_user_invitation_path()
        - else
          = link_to "Sign up", new_user_registration_path, :id => "sign_up"
          %span
            |
          = link_to "Sign in", new_user_session_path, :id => "sign_in"
          %span
            |
          %span#tune_out
            Tune out

      - unless small_version
        = form_tag(search_results_path(), :method => :post, :id => "search_form", :class =>"right") do
          = text_field_tag("query", "Enter artist or album")
          = submit_tag("")
    %div.clear
= flash_messages(flash)