= render "shared/home_nav"
#authentication.container

  %div.panel.m_rounded_corners.box_shadow
    %div.m_top_rounded_corners.m_header
      %h1 Sign in
    = form_for(resource, :as => resource_name, :url => session_path(resource_name), :html =>  {:class => "content m_bottom_rounded_corners"} ) do |f|

      %p
        = f.label :username
        %br/
        = f.text_field :username
      %p
        = f.label :password
        %br/
        = f.password_field :password
      - if devise_mapping.rememberable?
        %p
          = f.check_box :remember_me
          = f.label :remember_me
      %p= f.submit "Sign in"
      %p
        = render :partial => "devise/shared/links"
