!!!
%html
%head
  %title Robodisco.fm
  = stylesheet_link_tag :all
  = javascript_include_tag  "jquery", "jquery.color.js",  "jquery.inspect.js", "jquery.pulse.js",
                            "swfobject", "jQuery.tubeplayer.min.js", "application",
                            "search_form.js"
  = csrf_meta_tag
%body
  = flash[:notice] || flash[:alert]
  = yield
